body  {
    background: url("../images/icon_MarxanConnect_bg.png") no-repeat fixed center;
}

.navbar-nav > li > a {padding-top:30px !important; padding-bottom:30px !important;}
.navbar {min-height:60px !important}
.navbar {font-size: 1.2em !important}

.section h1.title {
  padding-top: 65px;
  margin-top: -65px;
  line-height:1.6em;
}
.section h1 {
  padding-top: 65px;
  margin-top: -65px;
  line-height:1.6em;
  font-size: 30px;
}
.section h2 {
  padding-top: 65px;
  margin-top: -65px;
  line-height:1.6em;
  font-size: 26px;
}
.section h3 {
  padding-top: 65px;
  margin-top: -65px;
  line-height:1.6em;
  font-size: 22px;
}